@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply antialiased;
  }
}

@layer components {
  .texture {
    background-image: radial-gradient(rgba(245, 166, 35, 0.03) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
